<!doctype html>
<html>
  <head>
    <title>Face Value</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/xkn2niw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   </head>
  <body>

    <section id="vert-nav">
       <nav role='navigation'>
        <ul class="topmenu">
          <li class="topmenu-item" >
            <a href="/" class="home">Prototypes</a>
          </li>
          <li class="topmenu-item <%- current.path[0] == 'demos' ? 'current' : '' %>">
            <a href="/demos">
              Demos
            </a>
          <ul class="submenu demos">
            <% for(var slug in public.demos._data){ %>
              <% var page = public.demos %>
              <li class="submenu-item <%- current.source == slug ? 'current' : '' %>">
                <a class="nav-icons" href="/demos/<%= slug %>">
                  <i class="<%= page._data[slug].icon_class %>"></i>
                  <%= page._data[slug].title %>
                </a>
              </li>
            <% }; %>
          </ul>
          </li>
        </ul>
      </nav>
    </section>


    <main class="content">
      <%- yield %>
    </main>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>